<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>&quot;</string>
	<key>secondString</key>
	<string>&apos;</string>
	<key>firstSingleLineComment</key>
	<string>//</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>/*</string>
	<key>endFirstMultiLineComment</key>
	<string>*/</string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string>^func\s*.*\(.*\)\s?\{</string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywordsCaseSensitive</key>
	<true/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>break</string>
		<string>case</string>
		<string>chan</string>
		<string>const</string>
		<string>continue</string>
		<string>default</string>
		<string>defer</string>
		<string>else</string>
		<string>fallthrough</string>
		<string>for</string>
		<string>func</string>
		<string>go</string>
		<string>goto</string>
		<string>if</string>
		<string>import</string>
		<string>interface</string>
		<string>map</string>
		<string>package</string>
		<string>range</string>
		<string>return</string>
		<string>select</string>
		<string>struct</string>
		<string>switch</string>
		<string>type</string>
		<string>var</string>
		<string>bool</string>
		<string>byte</string>
		<string>chan</string>
		<string>complex64</string>
		<string>complex128</string>
		<string>float32</string>
		<string>float64</string>
		<string>int</string>
		<string>int8</string>
		<string>int16</string>
		<string>int32</string>
		<string>int64</string>
		<string>map</string>
		<string>string</string>
		<string>uint</string>
		<string>uintptr</string>
		<string>uint8</string>
		<string>uint16</string>
		<string>uint32</string>
		<string>uint64</string>
	</array>
	<key>autocompleteWords</key>
	<array/>
</dict>
</plist>
