<?xml version="1.0" encoding="UTF-8"?>
<!--
# Copyright 2010 The Go Authors.  All rights reserved.
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Product  Id="FF5B30B2-08C2-11E1-85A2-6ACA4824019B"
            Name="The Go Programming Language $(var.Arch) $(var.Version)"
            Language="1033"
            Version="0.0.0.0"
            Manufacturer="http://golang.org"
            UpgradeCode="1C3114EA-08C3-11E1-9095-7FCA4824019B" >
            <!-- Version="$(var.Version)" TODO: Version requires X.X.X.X format -->
            
    <Package    Id='*' Keywords='Installer' 
                Description="The Go Programming Language Installer"
                Comments="The Go programming language is an open source project to make programmers more productive. Go is expressive, concise, clean, and efficient. Its concurrency mechanisms make it easy to write programs that get the most out of multicore and networked machines, while its novel type system enables flexible and modular program construction. Go compiles quickly to machine code yet has the convenience of garbage collection and the power of run-time reflection. It's a fast, statically typed, compiled language that feels like a dynamically typed, interpreted language." 
                InstallerVersion="300"
                Compressed="yes"
                Languages="1033" />

    <Media Id='1' Cabinet="go.cab" EmbedCab="yes" />
    <Condition Message="Windows 2000 or greater required."> VersionNT >= 500</Condition>
    
    <SetDirectory Id="SYS_ROOT" Value="C:\"/>
    <Property Id="EnableEV" Value="1" />
        
        <!-- Define the directory structure and environment variables -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="SYS_ROOT">
                <Directory Id="APPLICATIONROOTDIRECTORY" Name="Go"/>

                <Component  Id="GoEnvVars"
                            Guid="067EE394-08EF-11E1-ACBC-43FF4824019B">
                    <CreateFolder />
                    <Environment    Id="GoRootPath"
                                    Action="set" 
                                    Part="all"
                                    Name="GOROOT"
                                    Permanent="no"
                                    System="yes"
                                    Value="C:\Go" />

                    <Environment    Id="GoBinPath"
                                    Action="set" 
                                    Part="all"
                                    Name="GOBIN"
                                    Permanent="no"
                                    System="yes"
                                    Value="C:\Go\bin" />

                    <Environment    Id="Environment"
                                    Action="set" 
                                    Part="last"
                                    Name="PATH"
                                    Permanent="no"
                                    System="yes"
                                    Value="C:\Go\bin" />                         
                </Component>

            </Directory>
        </Directory>

        <!-- Install the files -->
        <Feature    Id="GoTools" 
                    Title="Go" 
                    Level="1">
            <ComponentGroupRef Id="AppFiles" />
            <ComponentRef Id="GoEnvVars" />
        </Feature>   

        <!-- Update the environment -->
        <InstallExecuteSequence>
            <WriteEnvironmentStrings>EnableEV=1</WriteEnvironmentStrings>
        </InstallExecuteSequence>

  </Product>
</Wix>