/* Overloads to all.css */
#container { width: 76em }
.left-column { width: 48%; }
.right-column { width: 48%; }

/* Frontpage styles */
#content-introductory code {
  font-family: "Bitstream Vera Sans Mono", "Andale Mono", monospace;
}
#content-introductory input, select, textarea {
  font-family: "Bitstream Vera Sans", Verdana, sans-serif;
  font-size: 1em;
}
span.keyword {
  font-family: Cambria, Georgia, Times, "Times New Roman", serif;
  font-size: 1.15em;
  font-style: italic;
}
#content h3, #content h2 {
  margin: 0;
  font-size: 1em;
  background: none;
  border: none;
  padding: 0;
}
#content .more {
 color: #999;
 font-weight: normal;
}
#frontpage h2#branding-tagline {
	font-weight: normal;
	font-style: italic;
}
#resources {
  position: relative;
  margin-top: 1em;
}
#resources h3 {
  margin-top: 0; 
  margin-bottom: -.5em;
  font-size: 1em;
  font-weight: normal;
}
#resources-users {
  float: left;
  width: 48%;
}
#resources-contributors {
  float: right;
  width: 50%;
}
#resources ul {
  padding-left: 2em;
}
#resources li {
  margin-bottom: 0.5em;
}
#content-rotating {
  height: 200px;
}
#content-videos {
  float: left;
  width: 170px;
}
#content-videos .thumbnail {
  width: 150px;
  height: 103px;
  background-repeat: no-repeat;
  border: none;
}
#content-videos .thumbnail._001 {
  background: url(/doc/video-001.png);
}
#content-videos .thumbnail._002 {
  background: url(/doc/video-002.png);
}
#content-videos .thumbnail._003 {
  background: url(/doc/video-003.png);
}
#content-videos .thumbnail._004 {
  background: url(/doc/video-004.png);
}
#content-videos a.video {
  display: inline-block;
  width: 150px;
  margin-right: .30em;
  margin-top: 1.2em;
}                        
#content-videos a.video .caption {
  display: block;
  text-align: center;
}
#content-videos a.video .caption.title {
  margin-top: .31em;
  font-weight: bold;
}
#content-blog ul {
  margin-top: 1em;
  margin-left: 0;
  padding-left: 0;
}
#content-blog li {
  list-style: none;
  margin-bottom: 1em;
}
#content-blog li a {
  color: #999;
  text-decoration: none;
}
#content-blog .date {
  color: #999;
  font-size: 0.8em;
  display: inline-block;
  margin-left: 0.5em;
}
#content-blog li a:link .title {
  color: #04a;
}
#content-blog li a:visited .title {
  color: #04a;
}
#content-blog li a:hover .title {
  color: #a40;
  text-decoration: underline;
}
#content-blog li a:active .title {
  color: #c00;
}
.navtop {
  display: none !important;
}
.how {
  float: right;
  font-size: 75%;
}
.unsupported {
  font-weight: bold;
  color: red;
}

