p {
  margin: 10px;
}

#presenter-slides {
  display: block;
  margin-top: -10px;
  margin-left: -17px;
  position: fixed;
  border: 0;
  width : 146%;
  height: 750px;

  transform: scale(0.7, 0.7);
  transform-origin: top left;
  -moz-transform: scale(0.7);
  -moz-transform-origin: top left;
  -o-transform: scale(0.7);
  -o-transform-origin: top left;
  -webkit-transform: scale(0.7);
  -webkit-transform-origin: top left;
}

#presenter-notes {
  margin-top: -180px;
  font-family: 'Open Sans', Arial, sans-serif;
  height: 30%;
  width: 100%;
  overflow: scroll;
  position: fixed;
  top: 706px;
}
