/target
/harness/harness.a
/harness/harness.h
/crashes
/corpus
.direnv
.envrc
**/output
**/*output*
/input
/coverage
**/corpus/
**/*.h
**/*.a
**/*.zip
**/*.html
**/testdata
**/rawfuzzers
**/*.out
**/coverage
**/coverprofile
**/corpus*
**/crashes*
**/fuzz_campaign.sh
