/*
   Copyright 2010 The Go Authors. All rights reserved.
   Use of this source code is governed by a BSD-style
   license that can be found in the LICENSE file.
*/

#codewalk-main {
  text-align: left;
  width: 100%;
  overflow: auto;
}

#code-display {
  border: 0;
  width: 100%;
}

.setting {
  font-size: 8pt;
  color: #888888;
  padding: 5px;
}

.hotkey {
  text-decoration: underline;
}

/* Style for Comments (the left-hand column) */

#comment-column {
  margin: 0pt;
  width: 30%;
}

#comment-column.right {
  float: right;
}

#comment-column.left {
  float: left;
}

#comment-area {
  overflow-x: hidden;
  overflow-y: auto;
}

.comment {
  cursor: pointer;
  font-size: 16px;
  border: 2px solid #ba9836;
  margin-bottom: 10px;
  margin-right: 10px;  /* yes, for both .left and .right */
}

.comment:last-child {
  margin-bottom: 0px;
}

.right .comment {
  margin-left: 10px;
}

.right .comment.first {
}

.right .comment.last {
}

.left .comment.first {
}

.left .comment.last {
}

.comment.selected {
  border-color: #99b2cb;
}

.right .comment.selected {
  border-left-width: 12px;
  margin-left: 0px;
}

.left .comment.selected {
  border-right-width: 12px;
  margin-right: 0px;
}

.comment-link {
  display: none;
}

.comment-title {
  font-size: small;
  font-weight: bold;
  background-color: #fffff0;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.right .comment-title {
}

.left .comment-title {
}

.comment.selected .comment-title {
  background-color: #f8f8ff;
}

.comment-text {
  overflow: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: small;
  line-height: 1.3em;
}

.comment-text p {
  margin-top: 0em;
  margin-bottom: 0.5em;
}

.comment-text p:last-child {
  margin-bottom: 0em;
}

.file-name {
  font-size: x-small;
  padding-top: 0px;
  padding-bottom: 5px;
}

.hidden-filepaths .file-name {
  display: none;
}

.path-dir {
  color: #555;
}

.path-file {
  color: #555;
}


/* Style for Code (the right-hand column) */

/* Wrapper for the code column to make widths get calculated correctly */
#code-column {
  display: block;
  position: relative;
  margin: 0pt;
  width: 70%;
}

#code-column.left {
  float: left;
}

#code-column.right {
  float: right;
}

#code-area {
  background-color: #f8f8ff;
  border: 2px solid #99b2cb;
  padding: 5px;
}

.left #code-area {
  margin-right: -1px;
}

.right #code-area {
  margin-left: -1px;
}

#code-header {
  margin-bottom: 5px;
}

#code {
  background-color: white;
}

code {
  font-size: 100%;
}

.codewalkhighlight {
  font-weight: bold;
  background-color: #f8f8ff;
}

#code-display {
  margin-top: 0px;
  margin-bottom: 0px;
}

#sizer {
  position: absolute;
  cursor: col-resize;
  left: 0px;
  top: 0px;
  width: 8px;
}

/* Style for options (bottom strip) */

#code-options {
  display: none;
}

#code-options > span {
  padding-right: 20px;
}

#code-options .selected {
  border-bottom: 1px dotted;
}

#comment-options {
  text-align: center;
}

div#content {
  padding-bottom: 0em;
}
