name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      HARNESS: ./harnesses/path_constraint

    steps:
    - uses: actions/checkout@v4
    - name: Install libvirt development libraries
      run: |
        rustup component add --toolchain nightly-x86_64-unknown-linux-gnu clippy
    - name: Build
      run: cargo build --verbose
    - name: Run clippy
      run: cargo clippy -- -D warnings
