body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}
h1, h2, h3, ul.menu, table, p {
	padding: 0 0.5em;
}
h1, h2 {
	margin: 0;
	background: #eee;
}
h1 {
	border-bottom: 1px solid #ccc;
	font-size: 1em;
	padding: 0.5em;
	margin-bottom: 0.5em;
	text-align: right;
}
h2 {
	border-top: 1px solid #ccc;
	padding-left: 0.2em;
}
.submit {
	float: right;
	border: 1px solid #ccc;
	width: 350px;
	padding-bottom: 1em;
	margin: 0.5em;
	background: #eee;
}
.submit table {
	width: 100%;
}
.submit input[type=text] {
	width: 200px;
}
.submit .msg {
	text-align: center;
	color: red;
}
table.alternate {
	white-space: nowrap;
	margin: 0.5em 0;
}
table.alternate td,
table.alternate th {
	padding: 0.1em 0.25em;
	font-size: small;
}
table.alternate tr td:last-child {
	padding-right: 0;
}
table.alternate tr:nth-child(2n) {
	background-color: #f0f0f0;
}
td.result {
	text-align: center;
}
span.hash {
	font-family: monospace;
	font-size: small;
	color: #aaa;
}
td.date {
	color: #aaa;
}
td.ok { 
	text-align: center;
	color: #060; 
	font-weight: bold;
}
td.ok a {
	cursor: help;
}
th {
	text-align: left;
}
th.builder {
	text-align: center;
	font-weight: bold;
}
a.fail {
	color: #F00;
}
a.fail:visited {
	color: #900;
}
ul.menu {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul.menu li {
	float: left;
	display: block;
	font-size: 1em;
	padding: 0.5em;
	background: #EEF;
	margin-left: 0.5em;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}
div.paginate {
	padding: 0.5em;
}
div.paginate a {
	padding: 0.5em;
	margin-right: 0.5em;
	background: #eee;
	color: blue;
}
div.paginate a.inactive {
	color: #999;
}
td.time {
	font-family: monospace;
}
.notice {
	padding: 10px;
	margin: 10px;
	border: 2px solid #FF6;
	background: #900;
	color: white;
	text-align: center;
}
.notice a {
	color: #FF6;
}
